# BEGIN WordPress

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>


# END WordPress

Redirect 301 /services http://interactivemechanics.com/about-us/
Redirect 301 /work http://interactivemechanics.com/case-studies/
Redirect 301 /workshops http://interactivemechanics.com/webinars/
Redirect 301 /news	http://interactivemechanics.com/blog/
Redirect 301 /contact http://interactivemechanics.com/about-us/
Redirect 301 /jobs	http://interactivemechanics.com/careers/

Redirect 301 /workshops/building-product-definition-document http://interactivemechanics.com/webinars/building-a-product-definition-document/
Redirect 301 /workshops/creating-effective-personas http://interactivemechanics.com/webinars/creating-effective-personas-2/
Redirect 301 /workshops/digital-projects-for-arts-culture http://interactivemechanics.com/webinars/digital-projects-for-arts-culture/
Redirect 301 /workshops/user-experience-for-museums http://interactivemechanics.com/webinars/
Redirect 301 /workshops/website-maintenance-for-arts-culture http://interactivemechanics.com/webinars/website-maintenance-arts-culture/

Redirect 301 /work/mussel-hatchery	http://interactivemechanics.com/case-studies/mussel-hatchery-interactives/
Redirect 301 /work/eastern-state-penitentiary-redesign	http://interactivemechanics.com/case-studies/eastern-state-penitentiary/
Redirect 301 /work/west-philly-history-map	http://interactivemechanics.com/case-studies/west-philly-history-map/
Redirect 301 /work/public-classroom	http://interactivemechanics.com/case-studies/public-classroom/
Redirect 301 /work/surface-design	http://interactivemechanics.com/case-studies/surface-design-association/
Redirect 301 /work/prisons-today	http://interactivemechanics.com/case-studies/prisons-today-questions-age-mass-incarceration/
Redirect 301 /work/great-migration	http://interactivemechanics.com/case-studies/great-migration-city-transformed/
Redirect 301 /work/digital-activity-guides	http://interactivemechanics.com/case-studies/fairmount-water-works-digital-activities-guides/
Redirect 301 /work/pma-rice-room	http://interactivemechanics.com/case-studies/widener-rice-room-interactive/
Redirect 301 /work/wait-play-learn	http://interactivemechanics.com/case-studies/wait-play-learn-interactive-games/
Redirect 301 /work/remembering-lincoln	http://interactivemechanics.com/case-studies/remembering-lincoln/
Redirect 301 /work/mayors-fund-philadelphia	http://interactivemechanics.com/case-studies/mayors-fund-philadelphia/
Redirect 301 /work/college-women	http://interactivemechanics.com/case-studies/college-women/

Redirect 301 /news/2018/04/reclaiming-our-narrative	http://interactivemechanics.com/2018/04/06/reclaiming-our-narrative/
Redirect 301 /news/2018/03/analytics-for-digital-interactives	http://interactivemechanics.com/2018/03/12/google-analytics-for-digital-interactives/
Redirect 301 /news/2018/03/interactive-learning-nmai-launch	http://interactivemechanics.com/2018/04/13/interactive-learning-resources/
Redirect 301 /news/2018/03/user-testing	http://interactivemechanics.com/2018/05/06/user-testing/
Redirect 301 /news/2017/12/balanced-qa-workflow	http://interactivemechanics.com/2017/12/16/balanced-quality-assurance-workflow/
Redirect 301 /news/2017/11/fellow-project-announcement	http://interactivemechanics.com/2017/11/19/2018-interactive-mechanics-fellows/
Redirect 301 /news/2017/08/fall-conferences-part-ii	http://interactivemechanics.com/2017/08/05/2017-fall-conferences-part-2/
Redirect 301 /news/2017/08/fall-conferences-part-i	http://interactivemechanics.com/2017/08/26/2017-fall-conferences-part-1/
Redirect 301 /news/2017/08/what-games-can-teach-us-about-design	http://interactivemechanics.com/2017/08/23/design-brew-meetup/
Redirect 301 /news/2017/08/afro-alternativity-and-tech	http://interactivemechanics.com/2017/08/21/afro-alternativity-and-tech/
Redirect 301 /news/2017/07/meet-laneshe-our-new-marketing-manager	http://interactivemechanics.com/2017/07/22/meet-laneshe-new-marketing-manager/
Redirect 301 /news/2017/06/journey-building-the-inventor-interactive	http://interactivemechanics.com/2017/06/19/building-inventor-interactive/
Redirect 301 /news/2017/05/three-website-redesign-lessons-learned	http://interactivemechanics.com/2017/05/03/three-website-design-lessons/
Redirect 301 /news/2017/03/surviving-information-overload	http://interactivemechanics.com/2017/03/02/surviving-information-overload/
Redirect 301 /news/2017/03/using-wordpress-rest-api	http://interactivemechanics.com/2017/04/05/using-wordpress-rest-api/
Redirect 301 /news/2017/01/combating-all-or-nothing	http://interactivemechanics.com/2017/01/21/combating-the-all-or-nothing-mentality/
Redirect 301 /news/2016/11/setting-up-repox	http://interactivemechanics.com/2016/11/27/setting-repox-using-amazon-web-services/
Redirect 301 /news/2016/10/meet-tara	http://interactivemechanics.com/2016/10/23/meet-tara-interactive-designer/
Redirect 301 /news/2016/10/drupal-8-good-bad-still-coming	http://interactivemechanics.com/2016/10/12/drupal-8/
Redirect 301 /news/2016/07/meet-amber	http://interactivemechanics.com/2016/07/19/meet-amber-project-manager/
Redirect 301 /news/2016/06/what-working-for-chop-taught-us	http://interactivemechanics.com/2016/06/05/designing-specialized-audiences/
Redirect 301 /news/2016/04/four-human-behaviors-that-drive-design	http://interactivemechanics.com/2016/04/14/four-human-behaviors-that-drive-design/
Redirect 301 /news/2016/01/im-on-drupal-6-what-happens-now	http://interactivemechanics.com/2016/01/13/im-on-drupal-6-what-happens-now/
Redirect 301 /news/2015/12/tips-for-using-flexbox	http://interactivemechanics.com/2015/12/03/tips-using-flexbox/
Redirect 301 /news/2015/12/highlights-from-mcn-imls-focus-conferences	http://interactivemechanics.com/2015/12/14/mcn-imls-focus-conferences-2015/
Redirect 301 /news/2015/11/custom-bootstrap-menus-with-omeka	http://interactivemechanics.com/2015/11/13/custom-bootstrap-menus-omeka/
Redirect 301 /news/2015/10/kinect-with-processing	http://interactivemechanics.com/2015/10/08/microsoft-kinect-processing/
Redirect 301 /news/2015/09/see-you-at	http://interactivemechanics.com/2015/09/26/fall-2015-conference-picks/
Redirect 301 /news/2015/03/remembering-lincoln	http://interactivemechanics.com/2015/03/27/remembering-lincoln-150-years-later/
Redirect 301 /news/2015/02/digital-projects-for-arts-culture	http://interactivemechanics.com/2015/02/08/digital-projects-for-arts-culture/
Redirect 301 /news/2014/12/highlights-from-barcamp	http://interactivemechanics.com/2014/12/13/highlights-barcamp-2014/
Redirect 301 /news/2014/12/meet-christina	http://interactivemechanics.com/2014/12/19/meet-christina-design-development-apprentice/
Redirect 301 /news/2014/12/see-you-at-museums-web	http://interactivemechanics.com/2014/12/08/museums-web-2015/
Redirect 301 /news/2014/12/page-templates-omeka	http://interactivemechanics.com/2014/12/08/page-templates-omeka-simple-pages/
Redirect 301 /news/2014/11/fall-updates	http://interactivemechanics.com/2014/11/13/fall-2014-updates/
Redirect 301 /news/2014/10/jekyll-vs-the-cms	http://interactivemechanics.com/2014/10/14/jekyll-versus-cms/
Redirect 301 /news/2014/09/basics-building-omeka-themes	http://interactivemechanics.com/2014/09/08/building-omeka-themes/
Redirect 301 /news/2012/12/mobile-devices-digital-humanities	http://interactivemechanics.com/2012/12/23/mobile-devices-digital-humanities/
Redirect 301 /news/2012/11/making-more-personas	http://interactivemechanics.com/2012/11/08/making-personas-scenarios/
	
Redirect 301 /what-we-do	http://interactivemechanics.com/about-us/
Redirect 301 /holiday2015	http://interactivemechanics.com/Holiday2015/
Redirect 301 /blog/remembering-lincoln-150-years-later	http://interactivemechanics.com/2015/03/27/remembering-lincoln-150-years-later/
Redirect 301 /blog/digital-projects-101-at-philly-tech-week-2015	http://interactivemechanics.com/2015/02/08/digital-projects-for-arts-culture/
Redirect 301 /blog/highlights-from-barcamp-2014	http://interactivemechanics.com/2014/12/13/highlights-barcamp-2014/
Redirect 301 /blog/meet-christina-design-development-apprentice	http://interactivemechanics.com/2014/12/19/meet-christina-design-development-apprentice/
Redirect 301 /blog/see-you-at-museums-and-the-web-2015	http://interactivemechanics.com/2014/12/08/museums-web-2015/
Redirect 301 /blog/page-templates-with-omeka-simple-pages	http://interactivemechanics.com/2014/12/08/page-templates-omeka-simple-pages/
Redirect 301 /blog/fall-updates-from-interactive-mechanics	http://interactivemechanics.com/2014/11/13/fall-2014-updates/
Redirect 301 /blog/jekyll-versus-the-cms-building-the-new-grand-round-table-website	http://interactivemechanics.com/2014/10/14/jekyll-versus-cms/
Redirect 301 /blog/the-basics-of-building-omeka-themes	http://interactivemechanics.com/2014/09/08/building-omeka-themes/
Redirect 301 /blog/mobile-devices-and-digital-humanities	http://interactivemechanics.com/2012/12/23/mobile-devices-digital-humanities/
Redirect 301 /blog/making-more-of-personas-scenarios	http://interactivemechanics.com/2012/11/08/making-personas-scenarios/

