.full-width-border {
	border-bottom: 1px solid $light_grey;
	padding: 0px;
	margin: 0px;
}

.content-wrapper {
	p {
		margin-bottom: 40px;
	}
	
	h5 {
		color: $gold;
	}
	
	img {
		min-width: 100%;
		margin-bottom: 40px;
	}
}

