.full-width-border {
	border-bottom: 1px solid $light_grey;
	padding: 0px;
	margin: 0px;
}

.content-wrapper {
	p {
		margin-bottom: 40px;
	}
	
	h5 {
		color: $gold;
	}
	
	img {
		min-width: 100%;
		margin-bottom: 40px;
	}
}

.staff-thumb-sm {
	width: 125px;
	height: 125px;
}


#related-content {
	background: $light_grey;
	padding-top: 30px;
	padding-bottom: 80px;
	.row {
		margin-left: 0px;
		margin-right: 0px;
		.col-sm-12 {
			padding-left: 0px;
			padding-right: 0px;
		}
		.col-sm-4 {
			padding-left: 0px;
			padding-right: 0px;
		}
		
	}
}

.related-content-heading {
	display: flex;
	align-items: baseline;
	padding-bottom: 20px;
	h5 {
		margin-left: 20px;
		a {
			color: $grey;
		}
	}
}

.center {
	text-align: center;
}