$proxima-nova: 					'proxima-nova', Helvetica, Arial, sans-serif;

$proxima-nova--semibold: 		'proxima-nova--semibold', Helvetica, Arial, sans-serif;

$adelle: 						'adelle', Georgia, serif;

$adelle--italic: 				'adelle--italic', Georgia, serif;
