$proxima_nova: 					'proxima-nova', Helvetica, Arial, sans-serif;

$proxima_nova--semibold: 		'proxima-nova--semibold', Helvetica, Arial, sans-serif;

$adelle: 						'adelle', Georgia, serif;

$adelle--italic: 				'adelle--italic', Georgia, serif;
