#cs-hero-container {
	border-bottom: 1px solid $light_grey;
}

.awards-wrapper {
	display: flex;
	justify-content: center;
	@include screen-xs {
		flex-direction: column;
		align-items: center;
	}
}

.awards-wrapper>a {
	border-left: 1px solid $light_grey;
	
	&:last-of-type {
		border-right: 1px solid $light_grey;
	}
	@include screen-xs {
		border-left: none;
		width: calc(100% + 60px);
	    text-align: center;
	
		&:last-of-type {
			border-right: none;
			border-top: 1px solid $light_grey;
		}
	}
}

.awards-block {
	display: block;
	height: 140px;
	width: 330px;
	img {
		@include screen-xs {
			width: 330px;
		}
	}
	
}

#cs-main {
	padding-top: 90px;
}

#project-details {
	border-bottom: 1px solid $light_grey;
	padding-bottom: 65px;
	padding-top: 45px;
	
	h3 {
		margin-bottom: 0px;
	}
	
	h5 {
		color: $gold;
		margin-top: 40px;
	}
	
	h4 {
		font-size: 21px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	
	.col-sm-6 {
		padding-left: 0px;
	}
	
	.learn-more-wrapper {
		margin-top: 40px;
		h5 {
			margin-top: initial;
		}
		
		h4 {
			margin-bottom: 10px;
		}
	}
	
	.col-sm-7 {
		h3 {
			@include screen-xs {
				margin-top: 60px;
			}
		}
	}
	
}

#cs-learn-more {
	padding-top: 65px;
	padding-bottom: 90px;
	border-bottom: 1px solid $light_grey;
	
	h3 {
		margin-bottom: 30px;
	}	
}

.learn-more-wrapper {
	display: flex;
	justify-content: left;
	
	img {
		margin-right: 30px;
	}
	
	h4 {
		line-height: initial;
		margin-top: 0px;
		
		@include screen-xs {
			font-size: 18px;
		}
	}
	
	h5 {
		color: $gold;
	}
	
	.btn-default {
		margin-top: 30px;
	}
	
	@include screen-xs {
		flex-wrap: wrap;
	}
	
	div {
		@include screen-xs {
			margin-top: 30px;

		}
	}
}

#cs-archive {
	border-bottom: 1px solid $light_grey;
	padding-top: 30px;
	padding-bottom: 80px;
	.row {
		margin-left: 0px;
		margin-right: 0px;
		.col-sm-12 {
			padding-left: 0px;
			padding-right: 0px;
		}
		.col-sm-4 {
			padding-left: 0px;
			padding-right: 0px;
		}
		
	}
}

