#colophon{
	input[type="email"] {
		width: 350px;
		height: 60px;
		margin-right: 30px;
	}
	
	.footer-wrapper {
		display: flex;
		justify-content: space-between;
		@include screen-sm {
			display: inherit;
			text-align: center;
		}
		@include screen-xs {
			display: inherit;
			text-align: center;
		}
	}
	
	section:first-of-type {
		margin-top: 30px;
		margin-bottom: 30px;
		@include screen-xs {
			margin-top: 15px;
			margin-bottom: 5px; //visually centered 
		}
	}
	
	section:last-of-type {
		margin-top: 40px;
		margin-bottom: 45px;
	}
	
}

.site-info {
	text-align: right;
	
	color: $grey;
	
	h3 {
		margin-top: 0px;
		margin-bottom: 20px;
		
		color: $royal_blue;
		
		font-family: $adelle--italic;
		font-size: 18px;
		line-height: initial;
		
		@include screen-xs {
			font-size: 16px;
		}
		
	}
	
	h5 {
		font-size: 12px;
		
		@include screen-xxs {
			font-size: 10px;
		}
	}
	
	a {
		color: $grey;
		&:visited {
			color: $grey;
		}
	}
	
	@include screen-sm {
		margin-top: 30px;
		text-align: center;
	}
	
	
	@include screen-xs {
		margin-top: 30px;
		
		text-align: center;
	}
}

#footer-social {
	@include screen-sm {
		display: flex;
	    justify-content: center;
	    width: 100%;
	    margin-top: 16px;
	    margin-bottom: -23px;	
	}
	@include screen-xs {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

// footer logo
#Footer_3_copy {
	transition: $transition;
	&:hover {
		opacity: 0.65;
	}
}

