#colophon{
	input[type="email"] {
		width: 350px;
		margin-right: 30px;
	}
	
	.flex-container {
		display: flex;
		justify-content: space-between;
	}
	
	section:first-of-type {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	section:last-of-type {
		margin-top: 40px;
		margin-bottom: 45px;
	}
	
}

.site-info {
	text-align: right;
	color: $grey;
	
	h3 {
		color: $royal_blue;
		font-size: 18px;
		font-style: italic;
		line-height: initial;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	
	a {
		color: $grey;
		&:visited {
			color: $grey;
		}
	}
	
}

// footer logo
#Footer_3_copy {
	transition: $transition;
	&:hover {
		opacity: 0.65;
	}
}

