a {
	transition: $transition;
	
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a.btn {
	&:visited {
		color: $white;
	}
}



a.list-group-item {
	.st0 {
		transition: all 0.5s ease-in-out;
	}
	&:hover {
		background-color: transparent;
		.st0 {
			fill: $gold;
		}
	}
	
}