a {
	transition: $transition;
	
	&:visited {
		color: initial;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a.btn {
	&:visited {
		color: $white;
	}
}



a.list-group-item {
	.st0 {
		transition: all 0.5s ease-in-out;
	}
	&:hover {
		background-color: transparent;
		.st0 {
			fill: $gold;
		}
	}
	
}

h4>a {
	color: $light_blue;
	border-bottom: 1px solid $royal_blue_2;
	transition: $transition;
		
	&:hover {
		text-decoration: none;
		color: $royal_blue_2;
	}
		
	&:visited {
		color: $light_blue
	}
}