.btn,
button,
input[type="button"],
input[type="reset"] {
	border: 1px solid;
	border-color: transparent;
	border-radius: 0px;
	@include special_el_text;
	
	background: linear-gradient(to right, $light_blue, $royal_blue);
	color: $white;
	padding: 20px 30px;
	font-size: 14px;

	&:hover {
		background: linear-gradient(to left, $royal_blue, $royal_blue);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
	
}

input[type="submit"] {
	border: 1px solid;
	border-color: $grey;
	@include special_el_text;
	border-radius: 0px;
	background: $grey;
	color: $white;
	padding: 20px 30px;
	
	&:hover {
		border-color: $grey;
	}

	&:active,
	&:focus {
		border-color: $grey;
	}

	
}
