input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@include special_el_text;
	color: $grey;
	border: 1px solid $grey;
	border-radius: 0px;
	padding: 20px;
	
	&:focus {
		color: $grey;
	}
}

select {
	border: 1px solid $grey;
}

textarea {
	width: 100%;
}
